<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Features – ExampleTrading</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/rtl/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/rtl/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/raleway.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="join-page single-podcast">
    <div class="body-wrapper">
      <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <nav class="main-menu" aria-label="Main Menu">
          <ul id="menu-front-end" class="menu">
            <li>
              <a href="index.html">
              <span class="menu-text">Features</span>
              </a>
            </li>
            <li>
              <a href="plans-pricing.html">
              <span class="menu-text">Plans and Pricing</span>
              </a>
            </li>
            <li>
              <a href="the-trading-coach-podcast.html">
              <span class="menu-text">Podcast</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">LogIn</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Profile</span>
              </a>
            </li>
            
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Media</span>
              <ul class="dropdown-content">
                <li><a href="">Videos </a></li>
                <li><a href="">Images </a></li>
                <li><a href="">Files  </a></li>
                <li><a href="">News & Economic Calander </a></li>
                <li><a href="">Newsletter </a></li>
                <li><a href="">Email List Subscription  </a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html"><span>Services & Products</span>
              <ul class="dropdown-content">
                <li class="dropdown">
                  <a href="#">Events
                    <ul class="dropdown-content">
                      <li><a href="">Online Courses & Events</a></li>
                      <li><a href="">Live Training Room</a></li>
                      <li><a href="">Private Online Sessions</a></li>
                      <li><a href="">Off Site Courses & Events</a></li>
                    </ul> 
                  </a>                  
              </li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Tools</span>
              <ul class="dropdown-content">
                <li><a href="">Better Trend Master File</a></li>
                <li><a href="">E-Books</a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Books</span>
              <ul class="dropdown-content">
                <li><a href="">The Key in Trading Success</a></li>
                <li><a href="">....</a></li>
              </ul>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="main-content">
        <a href="#" class="resp-menu" onclick="openNav()">☰</a>
        <div class="single-podcast-wrapper">
          <div class="single-podcast-left  float-left">
            <h1 class="entry-title podcast-post-title">174 – Bet On The Driver Not The Car</h1>
            <div class="pic-or-video-podcast">
              <iframe src="https://www.youtube.com/embed/fgGga0QWLo4?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_1" name="fitvid0" height="536" width="100%"></iframe>
            </div>
            <div class="player-podcast">
              <iframe style="border: none" src="https://html5-player.libsyn.com/embed/episode/id/9476804/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/0064db/" height="90" width="100%" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
            </div>
            <div class="podcast-description">
              <div class="podcast-text">
                <p>While a trader is more like a mercenary looking to be in and out of the market in a short period of time, in the direction that they seem fit. An investor is looking for long-term value in a company. When looking for value, one of the first places to look at is the leadership as they will give you a good idea of what the future holds. Please remember to LIKE &amp; SHARE this episode on social media. Thank you!&nbsp; Your Trading Coach – Akil!</p>
              </div>
            </div>
            <div class="fusion-title fusion-title-size-two sep-double sep-solid">
              <h2 class="title-heading-left">
                Related Posts					
              </h2>
              <div class="title-sep-container">
                <div class="title-sep sep-double sep-solid"></div>
              </div>
            </div>
            <div class="realted">
              <ul>
                <li>
                  <iframe src="https://www.youtube.com/embed/qS9afGulHLU?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_3" name="fitvid1" height="87" width="100%"></iframe>
                </li>
                <li>
                  <iframe src="https://www.youtube.com/embed/qS9afGulHLU?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_3" name="fitvid1" height="87" width="100%"></iframe>
                </li>
                <li>
                  <iframe src="https://www.youtube.com/embed/qS9afGulHLU?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_3" name="fitvid1" height="87" width="100%"></iframe>
                </li>
                <li>
                  <iframe src="https://www.youtube.com/embed/qS9afGulHLU?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_3" name="fitvid1" height="87" width="100%"></iframe>
                </li>
                <li>
                  <iframe src="https://www.youtube.com/embed/qS9afGulHLU?enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="player_3" name="fitvid1" height="87" width="100%"></iframe>
                </li>
              </ul>
            </div>
            <div class="comment fusion-title fusion-title-size-two sep-double sep-solid">
              <h2 class="title-heading-left">
                Leave A Comment				
              </h2>
              <div class="title-sep-container">
                <div class="title-sep sep-double sep-solid"></div>
              </div>
              <div class="commets-box">
                <p class="must-log-in">You must be <a href="index.html">logged in</a> to post a comment.</p>
              </div>
            </div>
          </div>
          <div class="single-podcast-aside  float-right">
            <form role="search" class="searchform" method="get" action="index.html">
              <input type="text" value="" name="s" class="s" placeholder="Search ..." required="" aria-required="true" aria-label="Search ...">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>		
            </form>
            <section>
              <div class="find-facebbok">
                <div class="heading">
                  <h4 class="widget-title">Find us on Facebook</h4>
                </div>
                <iframe name="f2c7968423ff038" width="100%" height="181px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3a67c025ed772c%26domain%3DExampleTrading.com%26origin%3Dhttps%253A%252F%252FExampleTrading.com%252Ffbd989f0daa4d4%26relation%3Dparent.parent&amp;container_width=310&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FExampleTrading%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;width=310" style="border: none; visibility: visible; width: 100%; height: 181px;" class=""></iframe>
              </div>
            </section>
            <section>
              <div class="recent-tweet">
                <div class="heading">
                  <h4 class="widget-title">Recent Tweets</h4>
                </div>
                <iframe name="f2c7968423ff038" width="100%" height="181px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3a67c025ed772c%26domain%3DExampleTrading.com%26origin%3Dhttps%253A%252F%252FExampleTrading.com%252Ffbd989f0daa4d4%26relation%3Dparent.parent&amp;container_width=310&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FExampleTrading%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;width=310" style="border: none; visibility: visible; width: 100%; height: 181px;" class=""></iframe>
                <iframe name="f2c7968423ff038" width="100%" height="181px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3a67c025ed772c%26domain%3DExampleTrading.com%26origin%3Dhttps%253A%252F%252FExampleTrading.com%252Ffbd989f0daa4d4%26relation%3Dparent.parent&amp;container_width=310&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FExampleTrading%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;width=310" style="border: none; visibility: visible; width: 100%; height: 181px;" class=""></iframe>
                <iframe name="f2c7968423ff038" width="100%" height="181px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df3a67c025ed772c%26domain%3DExampleTrading.com%26origin%3Dhttps%253A%252F%252FExampleTrading.com%252Ffbd989f0daa4d4%26relation%3Dparent.parent&amp;container_width=310&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FExampleTrading%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;width=310" style="border: none; visibility: visible; width: 100%; height: 181px;" class=""></iframe>
              </div>
            </section>
          </div>
        </div>
        <div class="single-podcast-footer">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
              <p>Ranked 19th Best Trading Channel On Youtube</p>
              <img src="assets/img/top100rank.png" alt="award img">
            </div>
            <div class="col-md-4">
              <form role="search" class="searchform" method="get" action="index.html">
                <input type="text" value="" name="s" class="s" placeholder="Search ..." required="" aria-required="true" aria-label="Search ...">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>		
              </form>
            </div>
          </div>
        </div>
        <footer id="footer" class="fusion-footer-copyright-area">
          <div class="fusion-row">
            <div class="fusion-copyright-content">
              <div class="fusion-copyright-notice">
                <div class="text-center">
                  <p>
                    <a href="disclaimers.html">Disclaimers</a> | 
                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a> | 
                    <a href="refund_policy.html">Refund Policy</a> |
                    <a href="contact.html">Contact Us</a>
                  </p>
                  <p>Copyright 2017-2018 Example.com </p>
                  <p>All Rights Reserved | XYZ Rd Ste 999, Dumy</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>