<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us – ExampleTrading</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/raleway.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="join-page">
    <div class="body-wrapper">
      <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <nav class="main-menu" aria-label="Main Menu">
          <ul id="menu-front-end" class="menu">
            <li>
              <a href="index.html">
              <span class="menu-text">Features</span>
              </a>
            </li>
            <li>
              <a href="plans-pricing.html">
              <span class="menu-text">Plans and Pricing</span>
              </a>
            </li>
            <li>
              <a href="the-trading-coach-podcast.html">
              <span class="menu-text">Podcast</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">LogIn</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Profile</span>
              </a>
            </li>
            
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Media</span>
              <ul class="dropdown-content">
                <li><a href="">Videos </a></li>
                <li><a href="">Images </a></li>
                <li><a href="">Files  </a></li>
                <li><a href="">News & Economic Calander </a></li>
                <li><a href="">Newsletter </a></li>
                <li><a href="">Email List Subscription  </a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html"><span>Services & Products</span>
              <ul class="dropdown-content">
                <li class="dropdown">
                  <a href="#">Events
                    <ul class="dropdown-content">
                      <li><a href="">Online Courses & Events</a></li>
                      <li><a href="">Live Training Room</a></li>
                      <li><a href="">Private Online Sessions</a></li>
                      <li><a href="">Off Site Courses & Events</a></li>
                    </ul> 
                  </a>                  
              </li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Tools</span>
              <ul class="dropdown-content">
                <li><a href="">Better Trend Master File</a></li>
                <li><a href="">E-Books</a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Books</span>
              <ul class="dropdown-content">
                <li><a href="">The Key in Trading Success</a></li>
                <li><a href="">....</a></li>
              </ul>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="main-content">
        <div class="main-top-resources">
        <a href="#" class="resp-menu" onclick="openNav()">☰</a>
          <div class="you_need">
            <div class="row">
              <div class="offset-md-4 col-md-4">
                <div class="our_logo">
                  <a href="/"><img src="assets/img/logo21.png" alt=""></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-md-2 col-md-8">
                <h1 class="text-center"><span  class="blue_color">ABOUT&nbsp;</span><span>US</span></h1>
                <img src="assets/img/media/img8.jpg" alt="">
                <p>From the very beginning, the team at ExampleTrading set out to radically change the way we interact with traders. We wanted to make sure that each and everyone of our clients receives the absolute best we have to offer.</p>
                <p>There are many pieces to the trading puzzle, and for the first time ever, we’re able to deliver everything you need through one incredible platform. </p>
                <p>Gone are the days of having to purchase multiple training course to make sure you have access to all the information you need. With your TierONE membership you’ll have unfiltered access to every course we deliver through our platform.</p>
                <p>To date we’ve developed 5 separate training courses so you can start with the absolute basics and then gradually work your way up to more advanced concepts like Fibonacci ratio analysis, trading psychology, money management, and more. Each course has been broken up into modules that contain topic specific lessons, making it easy for you to work at your own pace, track your progress, and focus on the information that is important to you.</p>
                <p>And if that weren’t enough…our goal is to make sure you’re always equipped with the latest information, therefore, your TierONE membership will also include any and all new content added to the platform. We already have new courses and content in development and these will all be made available to you at no additional cost! </p>
              </div>
            </div>
            <div class="row">
              <div class="offset-md-4 col-md-4 text-center">
                <div class="elegant-dual-button">
                  <div class="first-btn">
                    <a class="btn" href="plans-pricing.html">See Plans &amp; Pricing</a>
                  </div>
                  <div class="middle-or">
                    <span>OR</span>
                  </div>
                </div>
                <div class="elegant-dual-button">
                  <div class="last-btn">
                    <a class="btn" href="14-day-trial.html">
                    <span>Start A 14 Day Trial</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer id="footer" class="fusion-footer-copyright-area">
          <div class="fusion-row">
            <div class="fusion-copyright-content">
              <div class="fusion-copyright-notice">
                <div class="text-center">
                  <p>
                    <a href="disclaimers.html">Disclaimers</a> | 
                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a> | 
                    <a href="refund_policy.html">Refund Policy</a> | 
                    <a href="contact.html">Contact Us</a>
                  </p>
                  <p>Copyright 2017-2018 Example.com </p>
                  <p>All Rights Reserved | XYZ Rd Ste 999, Dumy</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>