<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Features – ExampleTrading</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/raleway.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="join-page">
    <div class="body-wrapper">
      <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <nav class="main-menu" aria-label="Main Menu">
          <ul id="menu-front-end" class="menu">
            <li>
              <a href="index.html">
              <span class="menu-text">Features</span>
              </a>
            </li>
            <li>
              <a href="plans-pricing.html">
              <span class="menu-text">Plans and Pricing</span>
              </a>
            </li>
            <li>
              <a href="the-trading-coach-podcast.html">
              <span class="menu-text">Podcast</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">LogIn</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Profile</span>
              </a>
            </li>
            
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Media</span>
              <ul class="dropdown-content">
                <li><a href="">Videos </a></li>
                <li><a href="">Images </a></li>
                <li><a href="">Files  </a></li>
                <li><a href="">News & Economic Calander </a></li>
                <li><a href="">Newsletter </a></li>
                <li><a href="">Email List Subscription  </a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html"><span>Services & Products</span>
              <ul class="dropdown-content">
                <li class="dropdown">
                  <a href="#">Events
                    <ul class="dropdown-content">
                      <li><a href="">Online Courses & Events</a></li>
                      <li><a href="">Live Training Room</a></li>
                      <li><a href="">Private Online Sessions</a></li>
                      <li><a href="">Off Site Courses & Events</a></li>
                    </ul> 
                  </a>                  
              </li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Tools</span>
              <ul class="dropdown-content">
                <li><a href="">Better Trend Master File</a></li>
                <li><a href="">E-Books</a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Books</span>
              <ul class="dropdown-content">
                <li><a href="">The Key in Trading Success</a></li>
                <li><a href="">....</a></li>
              </ul>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="main-content">
        <div class="main-top-title">
          <a href="#" class="resp-menu" onclick="openNav()">☰</a>
          <div class="row">
            <div class="col-md-12">
              <div class="our_logo text-center">
                <a href="/"><img src="assets/img/logo21.png" alt="" class="logo_black"></a>
                <h1 class="text-center"><span>Books</span></h1>
              </div>
            </div>
          </div>
        </div>
        
        <div class="all-books">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li class="row">
                  <div class="col-md-1">
                    <div class="date-and-formats">
                      <div class="podcast-date-box updated">
                        <span class="podcast-date">28</span>
                        <span class="podcast-month-year">04, 2019</span>
                      </div>
                      <div class="podcast-format-box">
                        <i class="fa fa-book"></i>
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-4">
                    <div class="post-img">
                      <!-- <iframe width="100%" height="280" src="https://www.youtube.com/embed/qS9afGulHLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                      <div class="img-forex">
                        <img src="assets/img/cornerstone.png" alt="">
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-7">
                    <div class="post-detail">
                      <div class="podcast-post-content post-content">
                        <h2 class="blog-shortcode-post-title">
                          <a href="#">176 – Stop Losses Are One Big Lie</a>
                        </h2>
                        <p class="podcast-single-line-meta">
                          <span>$ 10,000 </span>
                        </p>
                        <div class="podcast-post-content-container">
                          <p>A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. In this course you’ll the learn basic concepts of Forex trading and you’ll develop a solid foundation that can sustain years of future success. A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. [...]</p>
                          <p><a class="readmore" href="#">Read More </a></p>
                        </div>
                      </div>
                    </div>  
                  </div>
                </li>

                <li class="row">
                  <div class="col-md-1">
                    <div class="date-and-formats">
                      <div class="podcast-date-box updated">
                        <span class="podcast-date">28</span>
                        <span class="podcast-month-year">04, 2019</span>
                      </div>
                      <div class="podcast-format-box">
                        <i class="fa fa-book"></i>
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-4">
                    <div class="post-img">
                      <!-- <iframe width="100%" height="280" src="https://www.youtube.com/embed/qS9afGulHLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                      <div class="img-forex">
                        <img src="assets/img/cornerstone.png" alt="">
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-7">
                    <div class="post-detail">
                      <div class="podcast-post-content post-content">
                        <h2 class="blog-shortcode-post-title">
                          <a href="#">176 – Stop Losses Are One Big Lie</a>
                        </h2>
                        <p class="podcast-single-line-meta">
                          <span>$ 10,000 </span>
                        </p>
                        <div class="podcast-post-content-container">
                          <p>A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. In this course you’ll the learn basic concepts of Forex trading and you’ll develop a solid foundation that can sustain years of future success. A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. [...]</p>
                          <p><a class="readmore" href="#">Read More </a></p>
                        </div>
                      </div>
                    </div>  
                  </div>
                </li>

                <li class="row">
                  <div class="col-md-1">
                    <div class="date-and-formats">
                      <div class="podcast-date-box updated">
                        <span class="podcast-date">28</span>
                        <span class="podcast-month-year">04, 2019</span>
                      </div>
                      <div class="podcast-format-box">
                        <i class="fa fa-book"></i>
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-4">
                    <div class="post-img">
                      <!-- <iframe width="100%" height="280" src="https://www.youtube.com/embed/qS9afGulHLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                      <div class="img-forex">
                        <img src="assets/img/cornerstone.png" alt="">
                      </div>
                    </div>  
                  </div>
                  <div class="col-md-7">
                    <div class="post-detail">
                      <div class="podcast-post-content post-content">
                        <h2 class="blog-shortcode-post-title">
                          <a href="#">176 – Stop Losses Are One Big Lie</a>
                        </h2>
                        <p class="podcast-single-line-meta">
                          <span>$ 10,000 </span>
                        </p>
                        <div class="podcast-post-content-container">
                          <p>A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. In this course you’ll the learn basic concepts of Forex trading and you’ll develop a solid foundation that can sustain years of future success. A discussion on using stop losses &amp; if they are helpful or hurtful for your trading. Your Trading every trader has to start out somewhere and The Cornerstone Course will set you on the right path from the very beginning. [...]</p>
                          <p><a class="readmore" href="#">Read More </a></p>
                        </div>
                      </div>
                    </div>  
                  </div>
                </li>
                
                
                
                
                
              </ul>
            </div>
          </div>
        </div>

        <footer id="footer" class="fusion-footer-copyright-area">
          <div class="fusion-row">
            <div class="fusion-copyright-content">
              <div class="fusion-copyright-notice">
                <div class="text-center">
                  <p>
                    <a href="disclaimers.html">Disclaimers</a> | 
                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a> | 
                    <a href="refund_policy.html">Refund Policy</a> | 
                    <a href="contact.html">Contact Us</a>
                  </p>
                  <p>Copyright 2017-2018 Example.com </p>
                  <p>All Rights Reserved | XYZ Rd Ste 999, Dumy</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
    </script>
  </body>
</html>