<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Features – ExampleTrading</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/raleway.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="join-page">
    <div class="body-wrapper">
      <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <nav class="main-menu" aria-label="Main Menu">
          <ul id="menu-front-end" class="menu">
            <li>
              <a href="index.html">
              <span class="menu-text">Features</span>
              </a>
            </li>
            <li>
              <a href="plans-pricing.html">
              <span class="menu-text">Plans and Pricing</span>
              </a>
            </li>
            <li>
              <a href="the-trading-coach-podcast.html">
              <span class="menu-text">Podcast</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">LogIn</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Profile</span>
              </a>
            </li>
            
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Media</span>
              <ul class="dropdown-content">
                <li><a href="">Videos </a></li>
                <li><a href="">Images </a></li>
                <li><a href="">Files  </a></li>
                <li><a href="">News & Economic Calander </a></li>
                <li><a href="">Newsletter </a></li>
                <li><a href="">Email List Subscription  </a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html"><span>Services & Products</span>
              <ul class="dropdown-content">
                <li class="dropdown">
                  <a href="#">Events
                    <ul class="dropdown-content">
                      <li><a href="">Online Courses & Events</a></li>
                      <li><a href="">Live Training Room</a></li>
                      <li><a href="">Private Online Sessions</a></li>
                      <li><a href="">Off Site Courses & Events</a></li>
                    </ul> 
                  </a>                  
              </li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Tools</span>
              <ul class="dropdown-content">
                <li><a href="">Better Trend Master File</a></li>
                <li><a href="">E-Books</a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Books</span>
              <ul class="dropdown-content">
                <li><a href="">The Key in Trading Success</a></li>
                <li><a href="">....</a></li>
              </ul>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="main-content">
        <div class="main-heading-overview">
          <a href="#" class="resp-menu" onclick="openNav()">☰</a>
          <div class="row">
            <div class="col-md-12">
              <div class="our_logo text-center">
                <a href="/"><img src="assets/img/logo_trans.png" alt="" class="logo_black"></a>
                <h1 class="text-center"><span>Profile</span></h1>
                <div class="elegant-special-heading-wrapper profile-wrapper">
                  <p class="special-heading-description">John Doe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
            </div>
          </div>
        </div>
        <div class="podcast-detail">
          <div class="row">
            <div class="col-md-4 podcasting-img-desc">
              <div class="text-center">
                <div class="podcastimg">
                  <img src="assets/img/user.jpg" class="avatar" alt="" height="230">
                </div>
                <br><!-- 
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload"> -->
              </div>
              <div class="share-this row">
                <div class="col-5">
                  <h4 class="tagline">Social Media</h4>
                </div>
                <div class="col-7">
                  <div class="social_icon_list">
                    <ul>
                      <li>
                        <a href="#">
                        <i data-toggle="tooltip" data-placement="top" title="Facebook" class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i data-toggle="tooltip" data-placement="top" title="Twitter" class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i data-toggle="tooltip" data-placement="top" title="Youtube" class="fa fa-youtube-play"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i data-toggle="tooltip" data-placement="top" title="Mail" class="fa fa-envelope-o"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="rating-Episodes-view">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home" class="active">Home</a></li>
                </ul>
                <div class="tab-content">
                  <!-- <div class="tab-pane active show" id="home">
                    <br>
                    <form class="form profile-form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="first_name">
                              <h4>First name</h4>
                            </label>
                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                          <div class="col-md-6">
                            <label for="last_name">
                              <h4>Last name</h4>
                            </label>
                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="phone">
                              <h4>Phone</h4>
                            </label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                          <div class="col-md-6">
                            <label for="email">
                              <h4>Email</h4>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                      </div>
                      <div class="form-group">
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="email">
                            <h4>Location</h4>
                          </label>
                          <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="password">
                            <h4>Password</h4>
                          </label>
                          <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="password2">
                            <h4>Verify</h4>
                          </label>
                          <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12">
                          <br>
                          <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                          <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                      </div>
                    </form>
                  </div> -->
                  <div class="person-about">
                    <h4><i class="fa fa-user" aria-hidden="true"></i>About Me</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="person-detail">
                    <h4><i class="fa fa-info" aria-hidden="true"></i>Personal Details</h4>
                    <p><span>Full Name </span>:<span>John Doe</span></p>
                    <p><span>Phone</span>:<span>123-456477-1</span></p>
                    <p><span>Email</span>:<span>johndoe@abc.com</span></p>
                    <p><span>Location</span>:<span>abc Rd, 789 abc st</span></p>
                  </div>
                  <!--/tab-pane-->
                  <!--/tab-pane-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer id="footer" class="fusion-footer-copyright-area">
          <div class="fusion-row">
            <div class="fusion-copyright-content">
              <div class="fusion-copyright-notice">
                <div class="text-center">
                  <p>
                    <a href="disclaimers.html">Disclaimers</a> | 
                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a> | 
                    <a href="refund_policy.html">Refund Policy</a> |
                    <a href="contact.html">Contact Us</a>
                  </p>
                  <p>Copyright 2017-2018 Example.com </p>
                  <p>All Rights Reserved | XYZ Rd Ste 999, Dumy</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      
      var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
      
            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
      
            reader.readAsDataURL(input.files[0]);
        }
      }
      
      
      $(".file-upload").on('change', function(){
        readURL(this);
      });
      });
    </script>
  </body>
</html>