<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terms & Conditions – ExampleTrading</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/raleway.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="join-page">
    <div class="body-wrapper">
      <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <nav class="main-menu" aria-label="Main Menu">
          <ul id="menu-front-end" class="menu">
            <li>
              <a href="index.html">
              <span class="menu-text">Features</span>
              </a>
            </li>
            <li>
              <a href="plans-pricing.html">
              <span class="menu-text">Plans and Pricing</span>
              </a>
            </li>
            <li>
              <a href="the-trading-coach-podcast.html">
              <span class="menu-text">Podcast</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">LogIn</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="login.html">
              <span class="menu-text">Profile</span>
              </a>
            </li>
            
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Media</span>
              <ul class="dropdown-content">
                <li><a href="">Videos </a></li>
                <li><a href="">Images </a></li>
                <li><a href="">Files  </a></li>
                <li><a href="">News & Economic Calander </a></li>
                <li><a href="">Newsletter </a></li>
                <li><a href="">Email List Subscription  </a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html"><span>Services & Products</span>
              <ul class="dropdown-content">
                <li class="dropdown">
                  <a href="#">Events
                    <ul class="dropdown-content">
                      <li><a href="">Online Courses & Events</a></li>
                      <li><a href="">Live Training Room</a></li>
                      <li><a href="">Private Online Sessions</a></li>
                      <li><a href="">Off Site Courses & Events</a></li>
                    </ul> 
                  </a>                  
              </li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Tools</span>
              <ul class="dropdown-content">
                <li><a href="">Better Trend Master File</a></li>
                <li><a href="">E-Books</a></li>
              </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="login.html">
              <span class="menu-text">Books</span>
              <ul class="dropdown-content">
                <li><a href="">The Key in Trading Success</a></li>
                <li><a href="">....</a></li>
              </ul>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="main-content" class="main-content">
        <div class="main-top-logo">
          <a href="#" class="resp-menu" onclick="openNav()">☰</a>
          <div class="row">
            <div class="col-md-12">
              <div class="our_logo text-center">
                <a href="/"><img src="assets/img/logo21.png" alt="" class="logo_black"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-ref">
          <div class="row">
            <div class="col-md-12">
              <div class="ref-text">
                <h2>Terms and Conditions</h2>
                <p>
                  Our refund policy is very simple…we don’t offer them. You are in the business of trading, and at ExampleTrading we treat your order the same way the market would; meaning once your order has been placed and your payment has been processed, there is no turning back, even if things don’t turn out how you expected. If that scares you, or if you have any inclination that our products or services are not right for you, then please do not submit your order. <strong>If you have any questions about what we offer, or if you need further clarification about what your purchase will include, then please don’t hesitate to contact us at (info@ExampleTrading.com), we are happy to answer your questions and help you in any way that we can. </strong>
                </p>
                <p>The truth is our refund policy is strict because we want to promote professionalism in every interaction we have with our clients. Just as we encourage you to perform your due diligence, assess your personal situation, and make an informed decision before you place a trade, we also encourage you to do the same when making the decision to join the community here at ExampleTrading. We give everything we have to help traders succeed, and if we’re going to devote that level of energy and effort then we want to ensure that it’s directed towards individuals who are serious about their future and committed to their success! If that’s not you, then that’s ok. We understand that our services may not be suited for everyone.</p>
                <p>Likewise, as much as we would enjoy the opportunity to work with you, if your financial situation that has you worried about paying your rent, if you’re having to take on debt just to feed your family, or if you’re concerned about being able to afford your medication next month, then we must ask that you resist the temptation to sign up for our services. The last thing we want to do is reply to your email, where you explain your unfortunate financial circumstance and ask for a refund, by sending you a link to this page with a simple note that says “…sorry.” So please don’t put yourself in that awkward situation.</p>
              </div>
            </div>
          </div>
        </div>
        <footer id="footer" class="fusion-footer-copyright-area">
          <div class="fusion-row">
            <div class="fusion-copyright-content">
              <div class="fusion-copyright-notice">
                <div class="text-center">
                  <p>
                    <a href="disclaimers.html">Disclaimers</a> | 
                    <a href="terms-and-conditions.html">Terms &amp; Conditions</a> | 
                    <a href="refund_policy.html">Refund Policy</a> | 
                    <a href="contact.html">Contact Us</a>
                  </p>
                  <p>Copyright 2017-2018 Example.com </p>
                  <p>All Rights Reserved | XYZ Rd Ste 999, Dumy</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>