
div.alert-red {
    background: #e74c3c;
    border-left: 5px solid rgba(0,0,0,.1);
    font-size: 12px;
}

div.alert-green {
    background: #41a161;
    border-left: 5px solid rgba(0,0,0,.1);
    font-size: 12px;
}

div.alert-blue {
    background: #007bff;
    border-left: 5px solid rgba(0,0,0,.1);
    font-size: 12px;
}

.coaches_listing {
    width: 28%;
    padding: 20px;
    text-align: center;
    margin: 10px 18px;
}

.coaches_listing p.coach_about {
	text-align: left;
}

.coaches_listing img {
	width: 95%;
	margin-bottom: 10px;
	max-height: 255px;
}

.coaches_listing ul li i {
	font-size: 20px;
}

.all-schools .school_listing {
    width: 28%;
    padding: 20px;
    text-align: center;
    margin: 10px 18px;
}

.all-schools .school_listing .main {
    width: 90%;
    margin: 0 auto;

}

.user_prof_listing ul li {
    background: #ece6e6;
    padding: 4px;
    border-bottom: 2px #fff;
    width: 80%;
    border-left: 3px solid #ddd;
    margin-bottom: 2px;
}

.user_prof_listing ul li.active {
    background: #41a161;
}

.user_prof_listing ul li a {
    color: #000;
    text-decoration: none;
}

.user_prof_listing ul li.active a {
    color: #fff;
}

.user_prof_listing ul li:hover {
    background: #41a161;
    cursor: pointer;
}

.user_prof_listing ul li:hover a {
    color: #fff;
}

.contact-form select {
    border: 2px solid #41a161; 
    height: 50px;
    border-radius: unset;
    background-color: transparent;
}

.elegant-dual-button-homepage {
    float: none !important;
}


/************************************** Be a Coach ********************************/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.coach-form button
{
    width: 150px;
}

.coach-form .form-group input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/************************************** End Be a Coach ********************************/
